[build]
  publish = "dist/portfolio/browser"
  command = "npm install --legacy-peer-deps && npm run build"

[build.environment]
  NPM_FLAGS = "--legacy-peer-deps"
  NODE_VERSION = "20"


[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
